body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background: #f9f8f7; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headers {
  /* color: #171a1fff; */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.body-par {
  font-family: "Sarala", sans-serif;
  font-style: normal;
}

#cardbtn {
  background-color: #3e3ee0ff;
  /* width: 300px;
  margin-top: 10px; */
}

#cardbtn:hover {
  background-color: var(--joy-palette-neutral-400, #9FA6AD);
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
    align-items: center;
}

 .cardrows {
  display: flex;
  gap: 10px;
  /* flex-direction: row; */
} 

/* #catheader {
  text-align: right;
} */

.headerscat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h4 {
    display: none;
}

h4:hover {
  cursor: pointer;
  text-decoration: overline;
}

@media (max-width: 768px) {
.cardrows {
  flex-direction: column;

}



}
